* {
    
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background-color: #0d76d8;
    flex-wrap: wrap;
}
.card {
    box-shadow: 1px 1px 10px rgb(211, 28, 28);
    margin: auto;
    width: 410px;
    height: 410px;
    object-fit: cover;
    border-radius: 70%;
    background-color: rgb(165, 148, 148);

}
.card img {
    text-align: center;
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 70%;
    object-fit: cover;
}

.information {
    font-size: 20px;
    color: rgb(43, 219, 122);
    font-family: 'Baloo 2', cursive;
    width: 40%;
    height: auto;
    padding: 10rem 5rem;
    padding-left: 8rem;
}

.component{
    padding: 5rem 5rem;
    background-color:#0d76d8;
}