<div>
    <div class="information">
        <br>
        <h1>Hola soy Fernando</h1>
        <p>Tengo 21 años y soy estudiante del Instituto Tecnológico de México Campus Cuautla de la carrera de Ingeniería en Sistemas Computacionales.
             Me gusta echar cotorreo con la bandita, los carros y el fútbol.
        </p>
    </div>
    <div class="card">
        <img src="/assets/img/fernando.jpg" alt="Fernando">
    </div>
    <br>
    <div class="component">
    <app-componente-fernando></app-componente-fernando>
    </div>
    </div>
