<h3 class="subtitulo">Acerca de mí</h3>
<hr>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="assets/img/MonseComida.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Comida</h5>
      <div class="divider"></div>
      <p class="card-text">Mi comida favorita son las Enchiladas.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/MonseMusica.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Música</h5>
      <div class="divider"></div>
      <p class="card-text">Me gusta diferentes tipos de musica, sin embargo mi gusto en especial es el indie Mexicano.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/MonsePasatiempo.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Pasatiempo</h5>
      <div class="divider"></div>
      <p class="card-text">No suelo tener pasatiempos, pero algo que me gusta hacer es conocer nuevo lugares.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/MonseAnimal.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Animal</h5>
      <div class="divider"></div>
      <p class="card-text">Tengo 2 animales favoritos, El perro y la mariposa.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/MonseRandom.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Random</h5>
      <div class="divider"></div>
      <p class="card-text">Dentro de mi carrera, me agrada mucho la parte del Frontend.</p>
    </div>
  </div>
</div>

