
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col">
        <div class="card">
            <img src="/assets/img/350z.jpg" class="card-img-top" alt="...">
            <div class="description">
                <h4>Coche</h4>
                <p class="card-text">Uno de los coches de mis sueños es un Nissan 350z del año 2004, tuvo mucha imfluencia por la película reto tokyo.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/assets/img/america.jpg" class="card-img-top" alt="...">
            <div class="description">
                <h4>Equipo</h4>
                <p class="card-text">Uno de los equipos a los que le voy es al Real Madrid.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/assets/img/cars.jpg" class="card-img-top" alt="...">
            <div class="description">
                <h4>Película</h4>
                <p>Mi película favorita de toda la vida va a ser Cars porque me gustan los carros y porque es una joya de película, te quiero mucho rayo macuin</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/assets/img/nata.jpeg" class="card-img-top" alt="...">
            <div class="description">
                <h4>Musica</h4>
                <p class="card-text">Puro NataGoooooooooooood</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/assets/img/r1.jpg" class="card-img-top" alt="...">
            <div class="description">
                <h4>Moto</h4>
                <p class="card-text">También me gustan las motos.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="/assets/img/robot.jpg" class="card-img-top" alt="...">
            <div class="description">
                <h4>Serie</h4>
                <p>Mr. Robot es mi serie favorita ya que trata acerca de lo que no se sabe del mundo y de hacking</p>
            </div>
        </div>
    </div>

</div>