<h3 class="title">Acerca de mí</h3>

<div class="card-group">
  <div class="cards">
    <div class="card-body">
      <img
        class="card-img-top"
        src="assets/img/jesus-img1.png"
        alt="Card image cap"
      />
      <h5 class="card-title">Comida</h5>
      <div class="linea"></div>
      <p class="card-text">
        Me gustan mucho los tacos, pero mi favorita son las enchiladas.
      </p>
    </div>
  </div>

  <div class="cards">
    <div class="card-body">
      <img
        class="card-img-top"
        src="assets/img/jesus-img2.jpg"
        alt="Card image cap"
      />
      <h5 class="card-title">Música</h5>
      <div class="linea"></div>
      <p class="card-text">
        Me gusta casi todo tipo de música, pero lo que mas suelo escuchar es hip-hop y rock.
      </p>
    </div>
  </div>

  <div class="cards">
    <div class="card-body">
      <img
        class="card-img-top"
        src="assets/img/jesus-img3.jpg"
        alt="Card image cap"
      />
      <h5 class="card-title">Pasatiempo</h5>
      <div class="linea"></div>
      <p class="card-text">
        Lo que mas me gusta hacer en mi tiempo libre es jugar CSGO.
      </p>
    </div>
  </div>

  <div class="card-group">
    <div class="cards">
      <div class="card-body">
        <img
          class="card-img-top"
          src="assets/img/jesus-img4.jpeg"
          alt="Card image cap"
        />
        <h5 class="card-title">Animal</h5>
        <div class="linea"></div>
        <p class="card-text">
          Mi animal favorito es el pingüino.
        </p>
      </div>
    </div>

    <div class="cards">
      <div class="card-body">
        <img
          class="card-img-top"
          src="assets/img/jesus-img5.jpg"
          alt="Card image cap"
        />
        <h5 class="card-title">Deporte</h5>
        <div class="linea"></div>
        <p class="card-text">
          Ya no realizo ningún deporte, pero me gusta el Basquetbol.
        </p>
      </div>
    </div>

    <div class="cards">
      <div class="card-body">
        <img
          class="card-img-top"
          src="assets/img/jesus-img6.png"
          alt="Card image cap"
        />
        <h5 class="card-title">Serie</h5>
        <div class="linea"></div>
        <p class="card-text">
          Mi serie favorita es la de Breaking bad
        </p>
      </div>
    </div>
  </div>
</div>
