* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.card-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.card-title {
    color: orangered;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    text-align: center;
}

.title {
    text-align: center;
    color: orangered;
}

.card-text {
    text-align: center;
    color: black;
    font-weight: 600;

}

.card-img-top {
    height: 150px;
    margin-bottom: 20px;

}

.cards {
    width: 300px;
    background-color: white;
    border: solid 20px white;
    margin: 25px;
    border-radius: 10px;
}


.linea {
    height: 4px;
    width: 100%;
    background-color: #04001a;
    margin-top: 5px;
    margin-bottom: 2em;
}