<div class="section">
    <div class="description">
        <h1>Hola soy <span>Jesus</span></h1>
        <br>
        <p>Tengo 22 años y soy estudiante del Instituto Tecnológico de México campus Cuautla de la carrera de Ingeniería en Sistemas Computacionales.
             Actualmente me gustaría  aprender más sobre el desarrollo web y especializarme en la rama de Fronted.
        </p>
    </div>
    <div class="card-image">
        <img src="/assets/img/jesus.jpg" alt="Imagen de la card">
    </div>
    <div class="component">
        <app-componente-jesus-gustos></app-componente-jesus-gustos>
    </div>
</div>