<div>
    <div class="info">
        <br>
        <div class="card">
            <img src="/assets/img/marielaa.jpg" alt="Mariela">
        </div>
        <h1>Hola me llamo Mariela </h1>
        <p>Tengo 22 años, estudio en el Instituto Tecnológico de Cuautla y estoy en 8vo semestre de la carrera de Ingeniería en Sistemas Computacionales 
        </p>
    </div>
    
    <br>
    <div class="component">
    <app-marielagustos></app-marielagustos>
    </div>
    </div>
