* {
    
    box-sizing: border-box;
    position: center;
    background-color: #61a8a4;
}
.card {
    position: center;
    width: 300px;
    height: 300px;
    background-color: #61a8a4;
    margin: 15px 5px;
    
}
.info {
    position: center;
    font-size: 20px;
    color: rgb(3, 0, 3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 40%;
    height: -450px;
    padding: 5rem 5rem;
    padding-left: 8rem;
}