*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    background-image: url("../../../assets/imgs-jnthn/background.png");

}

.card > p{
    font-weight: bold;
    font-size: 20px;
}

.container1{
    width: 100%;
background: #e65c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.name{
    width: 55%;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.name > img{
    width: 110px;
    height: 150px;

    border-radius: 20px;
}

.container2, .container3{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    padding-top: 20px;
    flex-wrap: wrap;
}

.container3{
    padding-bottom: 20px;
}


span{
    color: #F9D423;
}

.card{
    width: 250px;
    height: 250px;
    background-color: #e65c00;
    color: white;

    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card > img{
    width: 180px;
    height: 160px;
    border-radius: 15px;
}

.areas{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.card-large{
    width: 35.7%;
    height: 310px;
    background-color: #e65c00;
    color: white;

    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cards > img{
    width: 180px;
    height: 180px;
    border-radius: 20px;
}

.card-large > p{ 
    font-size: 20px;
}

.cards{
    width: 230px;
    height: 240px;
    color: white;

    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    font-weight: bold;
}

@media (min-width: 700px) {
    .card-large{
        width: 43%;
    }

    .cards >img{
        width: 150px;
        height: 180px;
        border-radius: 20px;
    }
  }