
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <section>
       <div class="container1">

            <div class="name">
                <img src="../../../assets/imgs-jnthn/user.jpeg" alt="" srcset="">
                <div class="info">
                    <p> Jonathan Espinosa Garcia </p>
                    <p>22 años</p>
                    <p>Estudiante <span>(A veces)</span></p>                    
                </div>
            </div>

        </div>

        <div class="container2">
            <div class="card">
                <p>Mis comida favorita:</p>
                <span>Tacos de suadero</span>
                <img src="../../../assets/imgs-jnthn/tacos.jpg" alt="">
            </div>

            <div class="card">
                <p>Dato curioso:</p>
                <span>Solo fui 1 dia a la prepa</span>
                <img src="../../../assets/imgs-jnthn/prepa.jpg" alt="">
            </div>

            <div class="card">
                <p>Cancion favorita:</p>
                <span>Ojos color sol</span>
                <img src="../../../assets/imgs-jnthn/cancion.jpg" alt="">
            </div>

            <div class="card">
                <p>Queria estudiar:</p>
                <span>Arquitectura</span>
                <img src="../../../assets/imgs-jnthn/arquitectura.jpg" alt="">
            </div>

        </div>

        <div class="container3">
            <div class="card-large">
                <p>Pasa tiempos:</p>
                <div class="areas">

                    <div class="cards">
                        <span>Juegos</span>
                        <img src="../../../assets/imgs-jnthn/sons.jpg" alt="">
                    </div>
    
                    <div class="cards">
                        <span>Podcast</span>
                        <img src="../../../assets/imgs-jnthn/podcast.png" alt="">
                    </div>

                    <div class="cards">
                        <span>Anime</span>
                        <img src="../../../assets/imgs-jnthn/tanjiro.jpg" alt="">
                    </div>
                </div>
            </div>


            <div class="card-large">
                <p>Mis hijos:</p>
                <div class="areas">

                    <div class="cards">
                        <span>Pelusa</span>
                        <img src="../../../assets/imgs-jnthn/pelusa.JPEG" alt="">
                    </div>
    
                    <div class="cards">
                        <span>Botitas</span>
                        <img src="../../../assets/imgs-jnthn/botitas.jpeg" alt="">
                    </div>

                    <div class="cards">
                        <span>Pancho</span>
                        <img src="../../../assets/imgs-jnthn/pancho.JPEG" alt="">
                    </div>
                </div>
            </div>

        </div>
    </section>
