<h3 class="sub">Más sobre el <span>Christo</span></h3>
<hr>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  <div class="col">
    <div class="card">
      <img src="/assets/img/elchristotacos.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Comida</h5>
        <p class="card-text">Normalmente me gustan mucho los tacos al pastor. Es lo mejor
          que puede tener México.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/assets/img/elchristoJuniorH.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Musica</h5>
        <p class="card-text">Actualmente me gusta escuchar los corridos tumbados, me pone activo y me hace sentir que
          puedo con todo.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/assets/img/elchristoPerritos.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mascota</h5>
        <p class="card-text">Me gustan los perros porque son los unicos que pueden ofrecernos lealtad, tengo 6 perritos.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/assets/img/elchristofortnite.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Pasatiempo</h5>
        <p class="card-text">Me gusta jugar con mis compadres al Fortnite porque me divierto con ellos.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/assets/img/elchristoVolley.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Deporte</h5>
        <p class="card-text">Me gusta jugar el Volleyball, en la prepa ganamos la final
          y fue la mejor final que haya podido jugar.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/assets/img/elchristoS.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mi enfoque</h5>
        <p class="card-text">Trato de hacer cosas productivas y enfocarme en mi para evitar el sobrepensamiento.</p>
      </div>
    </div>
  </div>
</div>