.container{
    margin: 1rem;
    border-color: black;
    border: solid;
    text-align: center;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(160, 247, 218);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background-color: #02110c;
    flex-wrap: wrap;
}


.card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #000000;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 5px;
}


.card:hover {
    box-shadow: 0 5px 15px rgba(1, 10, 10, 0.5);
    transform: translateY(-15px);
}

.card .head {
    height: 125px;
    width: 100%;
    position: relative;
}




.card .head .img {
    width: 150px;
    height: 150px;
    position: absolute;
    background: #1cbcc2;
    padding: 5px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%);
    top: -15px;
    
}



.card .head .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    
}
.card .description {
    height: 200px;
    width: 100%;
    padding: 20px 20px 20px 20px;
    border-bottom: solid 1px rgba(6, 74, 76, .18);
    text-align: center;
}

.card .description h3 {
    color: #000000;
}

.card .description h4 {
    color: #074c68;
    font-family: 'fantasy';
     font-weight: 900px;
}

.card .description p {
    margin-top: 5px;
    font-size: 13px;
}


