div{
    display: flex; /* establece un layout flexible */
    flex-wrap: wrap; /* envuelve los elementos en una nueva línea si no caben */
    justify-content: space-between; /* distribuye los elementos equitativamente */
    width: 100%;
    height: auto;
    background-color:#ff8800;
}
.card {
    /* border-radius: 10px; */
    /* border: solid 5px black; */
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 10); */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
    /* overflow: hidden;
    margin: auto;
    max-width: 300px; */
    margin: auto;
    width: 410px;
    height: 410px;
    object-fit: cover;
    border-radius: 100%;
    background-color: black;
    /* right: auto; */

}
.card img {
    text-align: center;
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    object-fit: cover;
}
.information {
    /* background-color: blueviolet; */
    font-size: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 55%;
    height: auto;
    padding: 10rem 5rem;
    padding-left: 8rem;
}
p{
    color: black;
}
span{
    font-size: larger;
    color: black;
}

.component{
    padding: 5rem 5rem;
    background-color:#ff8800;
}