<div class="">
    <div class="information">
        <h1>Hola soy <span>Christopher</span></h1>
        <p>Tengo 22 años y soy estudiante del Instituto Tecnológico de México campus Cuautla de la carrera de Ingeniería en Sistemas Computacionales.
             Actualmente me gusataria aprender más sobre el desarrollo web, especificamente en la parte del Frontend ya que a este punto de mi vida y de la carrera me
             gustaria dedicarme a esto.
        </p>
    </div>
    <div class="card">
        <img src="/assets/img/elchristo.jpeg" alt="Imagen de la card">
    </div>
    <div class="component">
        <app-componente-christopher-gustos></app-componente-christopher-gustos>
    </div>
</div>
