<div class="wrapper">
  <main class="main">
    <div class="info-content">
      <h1>Hola soy  <span>Monserrat</span></h1>
       <p>Estudiante de Ingeniería en Sistemas Computacionales en el Instituto Tecnológico de Cuautla. Tengo 21 años y me apasiona el desarrollo web, 
         por lo que me he enfocado en aprender todo lo necesario para ser un profesional 
         Full Stack. </p>
    </div>
    <img src="assets/img/monserrat.jpeg" alt="">
  </main>
  <div class="componente">
    <app-componente-gustos></app-componente-gustos>  
  </div>
</div>

